{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 1 chrome versions"]
      },
      "loose": true
    }]
  ],
  "plugins": [
    ["syntax-dynamic-import"],
    ["transform-object-rest-spread"],
    ["transform-class-properties"],
    ["transform-react-jsx"]
  ]
}
